*{
  margin: 0;padding: 0;box-sizing: border-box;

}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: pink; */
  /* color: white; */
  height: 100vh;
}
.container>*{
  margin-bottom: 10px;
}


#file-input {
  margin-bottom: 10px;
}

#chart-container {
  margin-top: 20px;
  width: 100%;
}